.container {
  color: #000;
  padding: 20px;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.resources {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.resourceCard {
  position: relative;
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

.image {
  /* width: 100%; */
  border-radius: 8px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playButton {
  font-size: 2rem;
  color: red;
  background: white;
  border-radius: 50%;
  padding: 10px;
}

.duration {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.articleContent {
  color: #000;
  padding: 10px;
  border-radius: 8px;
  width: calc(378px - 85px);
}

.articleTitle {
  font-size: 1rem;
  margin-bottom: 5px;
}

.articleDescription {
  font-size: 0.9rem;
}

.resourceTitle {
  margin-top: 10px;
  font-size: 1.1rem;
}

.moreResources {
  text-align: center;
  margin-top: 20px;
}

.moreResourcesLink {
  color: #000;
  text-decoration: none;
  text-decoration: underline;
}

.moreResourcesLink:hover {
  text-decoration: underline;
}
