/* components/AreasOfFocus.module.css */
.areasOfFocus {
  text-align: center;
  padding: 40px;
}

.areasOfFocus h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.focusItem {
  padding: 20px;
  color: white;
  text-align: left;
}

.focusItem h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.focusItem p {
  font-size: 18px;
}
